Source: libcassandra
Priority: extra
Maintainer: Gasol Wu <gasol.wu@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libcassandra.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libcassandra.git;a=summary

Package: libcassandra-dev
Section: libdevel
Architecture: any
Depends: libcassandraBROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libcassandraBROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
